:root {
    --bg-color: #05070a;
    --accent-color: #bc13fe;
    --accent-glow: rgba(0, 242, 255, 0.3);
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: rgba(255, 255, 255, 0.1);
    --text-main: #e0e0e0;
    --font-tech: 'Courier New', Courier, monospace;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-tech);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: 
        linear-gradient(var(--glass-border) 1px, transparent 1px),
        linear-gradient(90deg, var(--glass-border) 1px, transparent 1px);
    background-size: 50px 50px;
}

.hud-container {
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}